h1 {
    text-align: center;
    color: #d94f29;
}
hr {
    margin: 0 30%;
}
h3 {
    text-align: center;
    color:#d94f29 ;
    text-decoration: underline;
}
p {
    
    text-align: center;
}
ul {
    margin-left: 45%;
}
.li {
    margin-left: 48%;
}
.tw {
    margin-left: 1%;
}
.image {
    height: 20em;
   
 
    border-radius: 10px;
}
.div-image {
   max-width: 18vw;
    margin: auto;
}
@media only screen and (max-width:600px) {
   .div-image{
    max-width: 90%;
    margin-left:22% ;
   }

    



}